
body{
  font-size: large;
  font-family: cursive;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

textarea {
  font-family: Courier New, Courier, monospace;
}

bars {
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: space-around; 
    display: flex;
    justify-content: space-between;
    border-right: 1px solid black;
} 

instructions, quarter-note {
    width: 100%;
    display: -webkit-flex; 
    -webkit-justify-content: space-around; 
    display: flex;
    justify-content: space-between;
} 

chords {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

section {
  /*width: 95%;*/
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dashed;
  background-color: #EEE; 
}

line-bar {
  width: 100%;
}



/* PAGE */


/*
  body {
    background: rgb(204,204,204); 
  }
  .page {
    background: white;
    display: block;
    margin: 0px auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  .page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  .page[size="A5"]{
    width: 10.5cm;
    height: 14.8CM;
    font-size: medium;
    font-family: Courier New, Courier, monospace;
  }

  .page[size="A5"] h1, page[size="A5"] h3.description-text{
    font-size: medium;
    font-family: Courier New, Courier, monospace;
  }

  .page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }

@media print {
  body, .page {
    margin: 0;
    box-shadow: 0;
  }

  .no-print {
    display: none;
  }
}

*/